.card {
    display: flex;
    flex-direction: column;
    flex: 0 1 30.1%;
    position: relative;
    cursor: pointer;
}

.card-image {
    object-fit: cover;
}

.card-details {
    margin-top: 22px;
    color: #FFFFFF;
    opacity: 0.8;
}

.card-primary-info {
    display: flex;
    justify-content: space-between;
}

.card-name {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
}

.card-date-container {
    border: 1px solid rgba(151, 151, 151, 0.5);
    border-radius: 4px;
}

.card-date {
    color: #FFFFFF;
}

.card-date {
    padding: 4px 8px 5px 8px;
}

.card-secondary-info {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    opacity: 0.5;
}
