.card {
    position: relative;
    width: 24%;
    min-height: 180px;
    min-width: 300px;
    max-height: 20%;
    background-color: rgba(197, 197, 194, 0.384);
    font-weight: 1;
    font-size: 14px;
    text-transform: uppercase;
    color: #cfcdcd;
}

.text-right {
    float: right;
}

img {
    width: 100%;
}
