.header-container {
    position: relative;
    margin-bottom: 20px;
    background: #232323;
}

.header-content {
    min-height: 15rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-movie {
    position: relative;
    float: right;
    z-index: 1;
}

.search-container {
    position: relative;
}

.search {
    position: relative;
    background: rgba(50, 50, 50, 0.8);
    width: 500px;
}

::placeholder {
    color: rgb(179, 178, 175);
}

.styled {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    height: 2rem;
    align-self: center;
}