.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.modal-title {
    color: #FFFFFF;
    font-weight: 1;
    font-size: 22px;
    letter-spacing: 1px
}

.modal-text {
    color: #FFFFFF;
    font-weight: 1;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: none;
}

.red {
    color: #F65261;
}

.modal-button-container {
    padding-top: 20px;
    justify-content: end;
    display: flex;
    align-content: end;
    grid-gap: 5px;
    margin-top: auto;
}

.movie-editor {
    position: relative;
    width: 50%;
    background-color: #232323;
    padding: 20px;
    min-width: 500px;
    min-height: 300px;
}

.editor-fields {
    position: relative;
    display: flex;
    flex-flow: wrap;
    margin-top: 20px;
}

.editor-left {
    position: relative;
    align-self: center;
    width: 55%;
}

.editor-right {
    position: relative;
    align-self: center;
    margin-left: auto;
    width: 40%;
}

.editor-row {
    display: grid;
    position: relative;
    padding-bottom: 10px;
    min-height: 60px;

}

.editor-row input {
    background: #323232F2;
    border: none;
    color: #FFFFFF;
}

.editor-overview {
    position: relative;
    display: grid;
    width: 100%;
}

.editor-overview textarea {
    min-width: 500px;
    min-height: 100px;
    word-wrap: break-word;
    word-break: break-all;
    background: #323232F2;
    border: none;
    color: #FFFFFF
}

.delete-confirmation {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #232323;
    padding: 5px;
    min-width: 300px;
    min-height: 200px;
}

.delete-main {
    grid-gap: 20px;
    display: flex;
    flex-direction: column;
    margin: 10% 0 0 10%;
}

.top-container {
    display: flex;
    justify-content: end;

}

.top-btn {
    justify-content: end;
}
